@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--purple-bg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1169px;
  margin: auto;
  padding: 4rem 0;
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  color: var(--white);
}

.active {
  border-left: 2px solid var(--green);
  padding-left: 0.2rem;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  cursor: pointer;
}

.active {
  font-weight: 700;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

input {
  display: flex;
  align-items: center;
  width: 230px;
  height: 46px;
  background: var(--dark-bg);
  color: var(--white);
  padding: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 44px;

  border: none;
  border-radius: 0 5px 5px 0;

  background: var(--button-bg);
}

.container {
  width: 1169px;
  height: 588px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  width: 576px;
  flex-wrap: wrap;
}

.hero h1 {
  font-size: 2.2rem;
  line-height: 54px;
  color: var(--button-bg);
  margin-bottom: 1.2rem;
}

.hero p {
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  color: var(--white);
  margin-bottom: 1.2rem;
}

.see-more a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: .4rem;
  margin: 0;
  cursor: pointer;
}

.see-more p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--button-bg);
}

.article {
  background: #fff;
  border-top: 6px solid #4fff4b;

  display: flex;
  justify-content: center;
  flex: 1;

  gap: 12rem;
  width: 100%;
  padding: 60px 100vh;

}

.article h2 {
  color: var(--purple-bg);
  margin: .8rem 0;
}

.article p {
  font-size: 1rem;
  line-height: 24px;
}

div.post-two legend {
  width: 402px;
}

.post-three {
  margin-top: 48px;
}

section {
  background: #fff;
}
.news-grid-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.post {
  width: min-content;
}

.post h2 {
  color: var(--purple-bg);
  margin: .8rem 0;
}

.post p {
  font-size: 1rem;
  line-height: 24px;
}